
.marquee-container {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  background: linear-gradient(90deg, #fbc2eb 0%, #a6c1ee 100%);
}

.marquee-content {
  display: inline-block;
  animation: marquee 15s linear infinite;
}

.marquee-content::after {
  content: attr(data-text);
  display: inline-block;
  padding-left: 100%;
}

@keyframes marquee {
  0% {
    transform: translateX(70%);
  }
  100% {
    transform: translateX(-100%);
  }
}

